* {	margin: 0; padding: 0; }
html {
	background-color: rgba(0, 0, 0, .01);
	display: block;
	font-size: 62.5%;
}

body, html {
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	-webkit-user-select: none;
	-webkit-font-smoothing: antialiased;	
}

::-webkit-scrollbar { width: 0; height: 0; }

#warp {
	position: static;
	width: 100%;
	margin: 0 auto;
}

#header {
	position: fixed;
	z-index: 10001;
	width: 100%;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.45098);
}